
body
{
  width: 100%;
  height: 550px;
  background-image: url(https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/noticias-cine/asi-hubiese-sido-springfield-el-spin-off-de-los-simpson/31368248-1-esl-ES/Asi-hubiese-sido-Springfield-el-spin-off-de-Los-Simpson.png?crop=1xw:0.7962674961119751xh;center,top&resize=1200:*);
  background-size: cover;
}

h1
{
  color: #fff;
  text-align: center; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
